@media screen and (max-width: 1280px){
    .side-bar-post{
        position: relative;
        width: 100%;
        padding: 20px 0;
        border-bottom: 1px solid #f7f7f7;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and (max-width: 1024px){
    .section-container{
        width: 100%;
    }
}
/* styles for max width of 960px */
@media screen and (max-width: 992px){
    .contact-main-upper-info{
        width: 100%;
    }
    .contact-main-upper img{
        width: 100%;
    }
    .contact-main-upper{
        display: flex;
        flex-direction: column;
    }
}
/* styles for max width of 767px */
@media screen and (max-width: 767px){
    .container{
        max-width: 100%;
    }
    .side-bar{
        display: none;
    }
}
/* styles for max width of 656px */
@media screen and (max-width: 666px){
    .sidebarBtn{
        right: -80px;
    }
}
/* styles for max width of 556px */
@media screen and (max-width: 576px){
    .header-links{
        display: none;
    }
    .logo-block{
        display: none;
    }
    .hero-btn{
        background-color: transparent;
        border: none;
        color: #ffffff;
        position: absolute;
        right: 10px;
        z-index: 500;
        font-size: 25px;
    }
    .slick-slider-dots{
        position: absolute;
        top: 50%;
        right: 50px;
        transform: translate(0, 50%);
    }
}
/* styles for max width of 480px */
@media screen and (max-width: 480px){

}
/* styles for min width of 767px */
@media screen and (min-width: 767px){
    .container{
        margin: 0 auto;
        width: 90%;
    }
}